<p>Novo contato</p>

<p>
  Dados<br>
  <strong>Nome:</strong> <%=@contact.name %><br>
  <strong>Email:</strong> <%=@contact.email %><br>
  <strong>Telefone:</strong> <%=@contact.telephone %><br>
  <strong>Assunto:</strong> <%=@contact.subject %><br>
  <strong>Descrição:</strong> <%=@contact.description %>
</p>